<%- include('partials/header.ejs'); -%>


<div class="heading">
  <h1>TASK TRACKR</h1>
  <p><%= today %></p>

  <hr>
  
  <form action="/list" method="post">
    <input type="text" name="newList" autocomplete="off">
    <button type="submit">+ New List</button>
  </form>
</div>


<div class="list">
  <% for (let category of categories){ %> 
    <div class="box">
      <div class="title">
        <h1>
          <form action="/deleteList" method="post">
            <input hidden name="listId" value="<%= category.cat_id%>" id="<%= category.cat_id%>">
            <label for="<%= category.cat_id%>"><%= category.type %></label>
            <button onclick="this.form.submit()"><img class="icon" src="/assets/icons/trash.svg" alt="trash image"></button>
          </form>
        </h1>
        <%= listItems.filter(item => item.category == category.type).length %> 
      </div>

     <% listItems.forEach((item) => { %>
        <% if(item.category==category.type) { %> 
          <div class="item">
            <form action="/delete" method="post">
              <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= item.id %>">
            </form>
    
            <p id="task<%=item.id%>">
              <%= item.task %>
            </p>
    
            <form class="edit" action="/edit" method="post">
              <input type="hidden" name="updatedItemId" value="<%= item.id %>">
              <input id="input<%=item.id%>" type="text" name="updatedItemTask" value="<%= item.task %>" autocomplete="off"
                autofocus="true" hidden="true" />
              <button id="done<%=item.id%>" class="edit" type="submit" hidden><img class="icon"
                  src="/assets/icons/check-solid.svg" alt="tick image"></button>
            </form>
            <button id="edit<%=item.id%>" class="edit" onclick="handler('<%=item.id%>')"><img class="icon"
                src="/assets/icons/pencil-solid.svg" alt="pencil image"></button>
          </div>
        <% } %>
      <% }) %> 
        <form class="item" action="/add" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus="true" />
            <button class="add" type="submit" name="list" value="<%= category.type%>" ><img class="icon" src="/assets/icons/add.svg" alt="add image"></button>
          </form>
    </div>
  <% } %> 

</div>



  <script>
    function handler(id) {
      document.getElementById("task" + id).setAttribute("hidden", true)
      document.getElementById("edit" + id).setAttribute("hidden", true)
      document.getElementById("done" + id).removeAttribute("hidden")
      document.getElementById("input" + id).removeAttribute("hidden")
    }
  </script>


  <%- include('partials/footer.ejs'); -%>